<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css')}}" media="screen,projection"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>pyremote</title>
  </head>
  <body>

    <div class="loader hidden">
        <img src="/static/loader.gif" alt="Please wait...">
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>

 <script type="text/javascript" src="{{ url_for('static', filename='materialize/js/materialize.min.js')}}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='custom.js')}}"></script>
 

<script src="{{ url_for('static', filename='nipplejs.min.js')}}"></script>
<script>
    var dynamic = nipplejs.create({
        zone: document.getElementById('dynamic'),
        color: 'blue'
    });
</script>


</html>
